button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url('../images/facebook-icon.png');
}
button#idkaart{
    background-image: url('../images/id-icon.png');
    color:black;
    border-color:blue;
    background-color:white;

}

div.social-wrap button {
    padding-right: 45px;
    height: 37px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-top: 7px;
    margin-right:5px;
    width: 205px;
    border-top:1px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
}

.nav li{
    padding-top: 15px;
    height:80px;
    font-size:25px;
}
.navbar-brand{
    color:red !important;
    padding-top:30px;
    font-size:40px
}
.all:hover{
    background-color:rgba(255,0,0,0.3);
    color:white !important;
   
}
.all{
    margin-right:3px;
}

/* logo stiil kontankti lehel*/
#logo{
    padding-top: 15px;
}

/* load more stiil nupp KKK lehel */
#KKK li{
    display: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
#KKK h4{
    display: none;
    font-family: 'Open Sans', sans-serif;
}
li.vastus{
    padding-bottom: 15px;
}

#loadMore {
    color: green;
    cursor: pointer;
}
#loadMore:hover {
    color: black;
}
#showLess {
    color: red;
    cursor: pointer;
}
#showLess:hover {
    color: black;
}
h3{
	text-align: center;
}
h2{
	text-align: center;
}
.categoryButton.btn{
    margin-bottom: 10px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.categoryButton.btn:hover{
    background-color: #9acfea;
}

#poleJs{
    font-size: 12px;
}

.img {
 border-radius: 80px;
  height: 20px;
  width: 20px;
}

