button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url('../../images/facebook-icon.png');
}
button#idkaart{
    background-image: url('../../images/id-icon.png');
    color:black;
    border-color:blue;
    background-color:white;

}

div.social-wrap button {
    padding-right: 45px;
    height: 37px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    margin-top: 7px;
    margin-right:5px;
    width: 205px;
    border-top:1px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
}
.nav{
    float:right;
    height:80px;
    font-size:25px;
}
.nav li{
    padding-top: 15px;
}
.navbar-brand{
    color:red !important;
    padding-top:30px;
    font-size:40px
}
.all:hover{
    background-color:rgba(255,0,0,0.3);
    color:white !important;
    height:100%;
}
.all{
    margin-right:3px;
}
