<!DOCTYPE html>
<html>

<head>
  <title>Avaleht</title>
<meta charset="utf-8">
<!---<link rel="stylesheet" type="text/css" href="<?php echo('webpages/p2pkuulutusedcsu/public_html/application/views/theme.css'); ?>">-->
<link rel = "stylesheet" type = "text/css" href = "<?php echo base_url(); ?>application/views/theme.css">
</head>

<body>

  <div id= "ylaOsa">
<img src= "http://i1069.photobucket.com/albums/u466/marilyse1/Drawing%206_zpska8yxsyq.png" border="0" margin-left= "15%" alt="logo"/>
  <div id="buttons">
  <div id="FB">Log in with FB</div>
  <div id="Id">Log in with Id-Card</div>
  </div>
</div>
  <div id="menu-bar">
    <ul id= menu>
      <li>Avaleht</li>
      <li>Kuulutused</li>
      <li>Minu kuulutused</li>
      <li>KKK</li>
      <li>Kontakt</li>
    </ul>
  </div>
  <div id="categories">
    <h1>Kuulutused</h1>
    <div id="categories2">
      <div id="kategooriad">
        <ul id="teenused">
          <li>IT-teenused</li>
          <li>Õpetamine</li>
          <li>Puhastusteenused</li>
          <li>Finantsteenused</li>
          <li>Iluteenused</li>
          <li>Varia</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="Kontakt">
    <ul>
      <li>P2PKuulutused</li>
      <li>p2pkuulutused@p2p.ee</li>
      <li>+372 5855855</li>
    </ul>
  </div>
 
</body>

</html> 
